* {
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button,
input {
  margin: 5px;
  border: 1px solid #d3dadf;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
}

input {
  background-color: #ffffff;
}

p {
  font-weight: bold;
  margin: 15px 0;
}

.reset {
  background-color: #03b8a0;
  color: #ffffff;
}

button:hover {
  background-color: #d3dadf;
  cursor: pointer;
}
.reset:hover {
  background-color: #028b79;
}
input:focus {
  outline: none;
  border: 2px solid #e67519;
}
input:hover {
  border: 2px solid #e67519;
}
.confetti {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
}
.confetti image {
  display: block;
  height: auto;
  width: 100%;
}
